/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
p {
  font-family: "Barlow Semi Condensed", sans-serif;
}

h2 {
  font-size: 1.05rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
}

.fs-300 {
  font-size: 0.9275rem;
}

.fw-700 {
  font-weight: 600;
}

.lead {
  font-size: 1.525rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.55px;
}

.text-neutral-100 {
  color: white;
}

.text-neutral-200 {
  color: #ecf2f8;
}

.text-neutral-300 {
  color: #cfcfcf;
}

.text-secondary {
  color: #48556a;
}

html {
  font-size: 13px;
}

body {
  background-color: #ecf2f8;
}

.testimonial-grid {
  width: max(70%, 325px);
  margin-inline: auto;
  margin-block: 50px;
  display: grid;
  place-content: center;
  gap: 2rem;
  grid-template: "one" "two" "three" "four" "five"/1fr;
}

.testimonial {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15);
}
.testimonial > * + * {
  margin-top: 1rem;
}
.testimonial.quote {
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 10%;
}
.testimonial .flex {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.testimonial img {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
}
.testimonial .name, .testimonial .position {
  line-height: 1.155;
}
.testimonial .position {
  opacity: 0.5;
}
.testimonial p:last-child {
  opacity: 0.7;
}
.testimonial:nth-child(1) {
  grid-area: one;
}
.testimonial:nth-child(2) {
  grid-area: two;
}
.testimonial:nth-child(3) {
  grid-area: three;
}
.testimonial:nth-child(4) {
  grid-area: four;
}
.testimonial:nth-child(5) {
  grid-area: five;
}

.bg-primary {
  background-color: #7541c8;
}

.bg-secondary-400 {
  background-color: #48556a;
}

.bg-secondary-600 {
  background-color: #19212e;
}

.bg-neutral-100 {
  background-color: white;
}

.border-primary {
  border: 2px solid #9e7ad9;
}

@media (min-width: 600px) {
  body {
    display: grid;
    place-content: center;
    min-height: 100vh;
  }

  .testimonial-grid {
    width: max(90%, 590px);
    margin-block: 0;
    grid-template: "one one" "two three" "four four" "five five"/1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .testimonial-grid {
    width: min(90%, 1110px);
    grid-template: "one one two five" "three four four five"/1fr 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
