html {
  font-size: 13px;
}

body {
  background-color: $Light-grayish-blue;
}

.testimonial-grid {
  width: max(70%, 325px);
  margin-inline: auto;
  margin-block: 50px;

  display: grid;
  place-content: center;
  gap: 2rem;
  grid-template:
    'one'
    'two'
    'three'
    'four'
    'five' / 1fr;
}

@import 'testimonial';

@include mq($break-point-md) {
  body {
    display: grid;
    place-content: center;
    min-height: 100vh;
  }

  .testimonial-grid {
    width: max(90%, 590px);
    grid-template:
      'one one'
      'two three'
      'four four'
      'five five' / 1fr 1fr;
  }
}

@include mq($break-point-lg) {
  .testimonial-grid {
    width: min(90%, 1110px);
    margin-block: 0;
    grid-template:
      'one one two five'
      'three four four five'
      / 1fr 1fr 1fr 1fr;
  }

  .attribution {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}
