.testimonial {
  padding: 2.35rem;
  border-radius: 10px;

  & > * + * {
    margin-top: 1rem;
  }

  &.quote {
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 10%;
  }

  & .flex {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  & img {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
  }

  & .name,
  & .position {
    line-height: 1.155;
  }

  & .position {
    opacity: 0.5;
  }

  & p:last-child {
    opacity: 0.7;
  }
}

.bg-primary {
  background-color: $Moderate-violet;
}

.bg-secondary-400 {
  background-color: $Very-dark-grayish-blue;
}

.bg-secondary-600 {
  background-color: $Very-dark-blackish-blue;
}

.bg-neutral-100 {
  background-color: $White;
}

.border-primary {
  border: 2px solid mix($Moderate-violet, white, 70%);
}
