// ## Colors

// ### Primary

$Moderate-violet: hsl(263, 55%, 52%);
$Very-dark-grayish-blue: hsl(217, 19%, 35%);
$Very-dark-blackish-blue: hsl(219, 29%, 14%);
$White: hsl(0, 0%, 100%);

// ### Neutral

$Light-gray: hsl(0, 0%, 81%);
$Light-grayish-blue: hsl(210, 46%, 95%);

// Typography

$font-family-primary: 'Barlow Semi Condensed', sans-serif;
$fw-400: 400;
$fw-700: 600;

$fs-300: 0.6875rem;
$fs-400: 0.8125rem;
$fs-500: 1.25rem;

// Breaking points

$break-point-md: 600px;
$break-point-lg: 1024px;

// Mixins

@mixin mq($break-point) {
  @media (min-width: $break-point) {
    @content;
  }
}
